// Import page-specific CSS files here.
@import "home";

/* Profile's page */
.profile.bg-img {
  background: url("https://c4.wallpaperflare.com/wallpaper/309/484/960/nature-bicycle-wallpaper-preview.jpg") 0 center no-repeat;
  background-size: cover;
}

.profile .banner-info {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
