<div class = "layout_footer bg-white">
  <div class = "container py-2">
    <div class="row">
      <div class = "col-6 col-md-6 col-lg-3 p-4">
        <div class="footerSection justify-content-center align-items-center">
          <div class ="footerSection__title">A propos</div>
          <div class = "footerSection__list">
            <a href="#">
              <div class="footerSection__link">Aide</div>
            </a>
            <a href="#">
              <div class="footerSection__link">Qui sommes nous?</div>
            </a>
            <a href="#">
              <div class="footerSection__link">Comment ça marche?</div>
            </a>
            <a href="bikes">
              <div class="footerSection__link">Louer mon vélo</div>
            </a>
          </div>
        </div>
      </div>

      <div class = "col-6 col-md-6 col-lg-3 p-4">
        <div class="footerSection justify-content-center align-items-center">
          <div class ="footerSection__title">Destination</div>
          <div class = "footerSection__list">
            <a href="bikes?query=Paris&button=">
              <div class="footerSection__link">Paris</div>
            </a>
            <a href="bikes?query=Marseille&button=">
              <div class="footerSection__link">Marseille</div>
            </a>
            <a href="bikes?query=Bordeaux&button=">
              <div class="footerSection__link">Bordeaux</div>
            </a>
            <a href="bikes?query=Lille&button=">
              <div class="footerSection__link">Lille</div>
            </a>
          </div>
        </div>
      </div>

      <div class = "col-6 col-md-6 col-lg-3 p-4">
        <div class="footerSection justify-content-center align-items-center">
          <div class ="footerSection__title">Nos Vélos</div>
          <div class = "footerSection__list">
            <a href="#">
              <div class="footerSection__link">Vélos de cyclo-tourisme</div>
            </a>
            <a href="#">
              <div class="footerSection__link">Vélos de route</div>
            </a>
            <a href="#">
              <div class="footerSection__link">Vélos éléctriques</div>
            </a>
          </div>
        </div>
      </div>

      <div class = "col-6 col-md-6 col-lg-3 p-4">
        <div class="footerSection justify-content-center align-items-center">
          <div class ="text-end footerSection__title">Suivez-nous</div>
          <div class = "footerSection__list d-flex align-items-center justify-content-end">
            <a href="#" alt=""><i class="fa-brands fa-instagram fs-2 pe-3"></i></a>
            <a href="#" alt=""><i class="fa-brands fa-facebook fs-2 pe-3"></i></a>
            <a href="#" alt=""><i class="fa-brands fa-linkedin fs-2"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__legal">
      <div class="footer_texts">© Bikee 2022 - Tous droits réservés</div>
    </div>
  </div>
</div>
