<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.larochelle-tourisme.com/sites/default/files/inline-images/ROC_1536.jpg);">
  <div class="container">
    <h1>Louez un vélo à un particulier</h1>
    <a class="btn" href="#">Apply now</a>
  </div>
</div>
