
<div class="container">
<h1 class="text-center mt-4">Bikes</h1>
  <div class="row mt-5">
    <% Bike.all.each do |bike| %>
      <div class="col-3">
        <%= link_to bike.category, bike_path(bike) %>
        <p>Price per day: <%= bike.price_per_day %></p>
        <p>Address: <%= bike.address %></p>
      </div>
    <% end %>
  </div>
</div>
