.large {
  width: 100%;
}

.btn-home {
  padding: 1% 4%;
  font-size: large;
  background-color: #f15152;
}

.btn-home:hover {
  background-color: #f4d8cd;
}

.btn-search {
  background-color: #f15152;
}

.btn-search:hover {
  background-color: #f4d8cd;
}

.btn-confirm {
  background-color: #f15152;
}

.btn-confirm:hover {
  background-color: #f4d8cd;
}
