.bike-form{
  background-color: rgb(255, 255, 255);
  color: black;
  font-style: bold;
  border: 1px solid lightgrey;
}

.form-check-input.is-valid.boolean.optional{
  border-color: black;
}

.form-check-label.boolean.optional{
  border-color: black;
  color: black;
}
.form-check-input.is-valid:checked{
  background-color: black
}
