.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

  a:focus-visible {
    outline: none;
  }
}

.mapboxgl-popup-content-body {
  background-color: #F4F4F4;
}

.mapboxgl-popup-content-image {
  padding-block: 5px;
}
